@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {

    --white: #FFFFFF;
    --devlinks-border: rgba(255, 255, 255, 0.50);
    --devlinks-background: rgba(255, 255, 255, 0.10);
    --devlinks-background-onhover: rgba(255, 255, 255, 0.05);

    --main-font: 'Inter', sans-serif;

    --light-mode-switch: url(./assets/moon-stars.svg);

    --background-mobile: url(assets/bg-mobile.svg);
    --background-desktop: url(assets/bg-desktop.svg);

    --background-social-links-hover: rgba(255, 255, 255, 0.20);
    
}

.light-mode {
    --white: #000000;
    --devlinks-border: rgba(0, 0, 0, 0.50);
    --devlinks-background: rgba(0, 0, 0, 0.05);
    --devlinks-background-onhover: rgba(0, 0, 0, 0.02);

    --light-mode-switch: url(./assets/sun.svg);

    --background-mobile: url(assets/bg-mobile-light.svg);
    --background-desktop: url(assets/bg-desktop-light.svg);

    --background-social-links-hover: rgba(0, 0, 0, 0.10);
    
}

body {
    /*
    background-image: url(assets/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; 
    */

    /* background: color image repeat position/size */
    background: var(--background-mobile) repeat-y top center/cover;

    color: var(--white);

    /* box-sizing: border-box; */
    transition: all 0.1s;
}

main {

    max-width: 588px;
    margin: 2em auto 0;
    padding: 1.5em;
}

/* ------------------- */

.profile {
    text-align: center;
}

.profile p {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 0.875rem;

    margin-top: 0.5rem;
}

/* ------------------- */
#switch-theme {
    position: relative;
    width: 70px;
    margin: 1.2em auto;
}

#switch-theme button {
    height: 32px;
    width: 32px;
    background: #FFFFFF var(--light-mode-switch) no-repeat center;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.20);

    position: absolute;
    z-index: 1;
    
    top: 50%;
    transform: translateY(-50%);
}

.light-mode #switch-theme button {
    left: initial;
    right: 0;
}

#switch-theme span {
    display: block;
    margin: 0 auto;

    width: 64px;
    height: 24px;
    
    border-radius: 9999px;
    border: 1px solid rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.099);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    cursor: pointer;

}

/* ------------------- */

.devlinks {
    list-style-type: none;
    text-align: center;
}

.devlinks li {
    margin: 1em 0;
}

.devlinks a {
    display: block;

    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--devlinks-border);
    border-radius: 8px;
    background: var(--devlinks-background);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 1em;

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1rem;

    transition: background 0.2s;
}

.devlinks a:hover {
    border: 1.5px solid var(--white);
    background: var(--devlinks-background-onhover);
}

/*Social Links*/
.social-links {
    display: flex;
    font-size: 28px;
    margin: 1em 0;
    justify-content: center;
    gap: 9%;
}

.social-links a {

    color: var(--white);
    
}

/*Made by*/
.made-by {
    font-family: var(--main-font);
    text-align: center;
}

.made-by a {
    color: var(--white);
}

@media screen and (min-width: 433px){

    .social-links {
        gap: 0;
    }
    
    .social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
    
        margin: 0 0.5rem;
        padding: 16px;
        border-radius: 50%;
        transition: background 0.2s;
    }
    
    .social-links a:hover {
        background: var(--background-social-links-hover) ;
    }

}

@media screen and (min-width: 1200px) {
    body {
        background-image: var(--background-desktop);
    }
}